/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.enable-background {
    enable-background: new 0 0 1701.8 1663.2;
}
svg#topographic {
    width: 100vw;
}

svg#topographic path {
    fill: #1c1c1c;
    stroke-width: 1;
    stroke-miterlimit: 0;
    stroke: lighten(#232323, 10%);
    stroke-dasharray: 500;
    stroke-dashoffset: 1000;
    -webkit-animation: dash 40s linear alternate infinite;
    animation: dash 40s linear alternate infinite;
}

svg#logo {
    width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    margin-left: -60px;
    margin-top: -80px;
}

svg#logo path {
    fill: #f2f2f2;
}

@-webkit-keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.cont-main {
    background: #232323;
    overflow: hidden;
    height: 100%;
    width: 100%;
    -webkit-filter: brightness(0.3);
    filter: brightness(0.3);
}

.cont-img {
    background: #232323;
    overflow: hidden;
    height: 100%;
    width: 100%;
    -webkit-filter: brightness(0.3);
    filter: brightness(0.8);
}
